# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Data files (keep folder, ignore contents)
data/*
!data/.gitkeep

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Docker
*.tar
